.header {
   .ant-menu {
      background-color: transparent;
      border: 0;
   }

   .ant-menu-submenu:hover::after,
   .ant-menu-item:hover::after,
   .ant-menu-item-selected::after,
   .ant-menu-submenu-selected::after {
      border-bottom-color: #ffffff !important;
      border-bottom-width: 2px !important;
   }
}

.menus-mobile-drawer {
   .ant-drawer-body {
      padding: 0 !important;
   }
}