@import "../../components/templates/Header/header.css";
@import "../../components/templates/BestSelling/bestSelling.css";
@import "../../components/templates/ArticlesShare/articlesShare.css";
@import "../../components/templates/RelatedProducts/relatedProducts.css";
@import "../../components/forms/forms.css";
@import "react-quill/dist/quill.core.css";

@import "./OverwriteAntd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .footer {
    li {
      @apply text-[14px] md:text-[18px] text-[#2F2F2F] hover:text-[#2F2F2F80] transition-all
    }
  }
  .spacing-x {
    @apply px-[25px] lg:px-[70px] md:px-[40px];
  }
  .spacing-section-top {
    @apply mt-[30px] md:mt-[60px]
  }
  .spacing-section-bottom {
    @apply mb-[30px] md:mb-[60px]
  }
  .rich-text-editor {
    @apply border rounded-[6px] border-[#ccc];

    .ql-toolbar.ql-snow {
      @apply border-0 border-b border-b-[#ccc];
    }

    .ql-container.ql-snow {
      @apply border-0;
    }
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

textarea, input { outline: none; }
