.bestSelling {
   .slick-prev:before, .slick-next:before {
      color: #0D1B39;
   }

   .ant-segmented-group {
      flex-wrap: wrap;

      @media only screen and (max-width: 640px) {
         flex-wrap: nowrap;
         width: 300px !important;
         overflow-y: auto;
      }
   }
}