.articlesShare {
   .slick-prev:before, .slick-next:before {
      color: #0D1B39;
      font-size: 45px;
   }

   .slick-next,
   .slick-prev {
      top: auto;
      right: auto;
      width: 45px;
      height: 45px;
      z-index: 99;
   }

   .slick-next{
      left: 5%;
      bottom: 2%;
   }

   .slick-prev {
      left: 0%;
      bottom: 2%;
   }
}