.checkoutModal {
   padding-bottom: 0;

   .ant-modal-content {
      background-color: #6154ba !important;
   }
   .ant-modal-close-x {
      color: #FEFCFC;
   }
   .ant-form-item-label label {
      color: #FEFCFC !important;
   }
   .ant-modal-footer {
      border-top: 1px solid gray;
      padding-top: 5px;
   }
}